# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ Files #
.idea/
*.iml
# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# VSCode
.vscode

# Ignore any files in /bin and /obj Folders
**/bin/*
**/obj/*

# Ignore the macOS folder attribute file
**/.DS_Store
api/out/test/resources/fixtures/ChatCompletionRequest.json
api/out/test/resources/fixtures/ChatCompletionResult.json
api/out/test/resources/fixtures/CreateImageRequest.json
api/out/test/resources/fixtures/DeleteResult.json
api/out/test/resources/fixtures/EditRequest.json
api/out/test/resources/fixtures/EditResult.json
api/out/test/resources/fixtures/EmbeddingRequest.json
api/out/test/resources/fixtures/EmbeddingResult.json
api/out/test/resources/fixtures/Engine.json
api/out/test/resources/fixtures/File.json
api/out/test/resources/fixtures/FineTuneEvent.json
api/out/test/resources/fixtures/FineTuneResult.json
api/out/test/resources/fixtures/FineTuningEvent.json
api/out/test/resources/fixtures/FineTuningJob.json
api/out/test/resources/fixtures/FineTuningJobRequest.json
api/out/test/resources/fixtures/ImageResult.json
api/out/test/resources/fixtures/Message.json
api/out/test/resources/fixtures/Model.json
api/out/test/resources/fixtures/ModerationRequest.json
api/out/test/resources/fixtures/ModerationResult.json
api/out/test/resources/fixtures/TranscriptionResult.json
api/out/test/resources/fixtures/TranslationResult.json
